<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
     <!--   
       日志输出格式：
       %-5level 表示从左显示5个字符宽度
       %d{yyyy-MM-dd HH:mm:ss.SSS}日期
       %c类的完整名称            
       %M为method          
        %L为行号            
       %thread线程名称
        %m或者%msg为信息            
        %n换行    
      -->
    <property name="pattern" value="[%5level] %d{yyyy-MM-dd HH:mm:ss.SSS} %c %L [%thread] %msg %n"/>

    <property name="filePath" value="logs"/>

    <!-- 控制台输出日志 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <!-- 日志格式设置 -->
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>
    <!-- 文件输出日志 -->
    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>${filePath}/logback.log</file>
        <!-- 日志格式设置 -->
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>
    <!-- 使用roll-file 进行日志拆分和压缩 -->
    <appender name="rollFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 日志格式配置 -->
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${pattern}</pattern>
        </encoder>
        <!-- 日志输出路径 -->
        <file>${filePath}/rolling-logback.log</file>
        <!-- 指定日志文件拆分和压缩规则 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${filePath}/rolling.%d{yyyy-MM-dd}.log%i.rar</fileNamePattern>
            <!-- 拆分文件大小 -->
            <maxFileSize>1MB</maxFileSize>
        </rollingPolicy>
        <!-- 自定义日志级别过滤器 -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <!-- 打印日志 -->
    <root level="ALL">
        <appender-ref ref="console"/>
        <appender-ref ref="rollFile"/>
    </root>
</configuration>